<md-content class='md-padding' layout-wrap>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{topic.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ng-repeat="item in topic.items" ng-switch="item.type">
                <div ng-switch-when="text">
                    <text data="item.data"></text>
                </div>
                <div ng-switch-when="image">
                    <image-container data="item.data"></image-container>
                </div>
                <div ng-switch-when="list">
                    <list data="item.data"></list>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start">
            <md-button class="md-primary" ng-click="back()">Назад</md-button>
        </md-card-actions>
    </md-card>
    </div>
    </div>
</md-content>